@page
@model Assignment1.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<script>
    function onSubmit(token) {
      document.getElementById("change-password-form").submit();
    }
</script>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="text-center mb-4">Change Password</h1>

            <form method="post" id="change-password-form">
                <div asp-validation-summary="All" class="text-danger"></div>

                @* Old password *@
                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.Password">Old Password</label>
                    <input class="form-control" asp-for="CPModel.Password" type="Password" />
                    <span class="text-danger" asp-validation-for="CPModel.Password"></span>
                </div>

                @* New password *@
                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.NewPassword">New Password</label>
                    <input class="form-control" asp-for="CPModel.NewPassword" type="Password" />
                    <span class="text-danger" asp-validation-for="CPModel.NewPassword"></span>
                </div>

                @* Confirm new password *@
                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.ConfirmPassword">Confirm New Password</label>
                    <input class="form-control" asp-for="CPModel.ConfirmPassword" type="Password" />
                    <span class="text-danger" asp-validation-for="CPModel.ConfirmPassword"></span>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary w-100"
                            data-callback='onSubmit'
                            data-action='submit'>
                            Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>