@page
@model Assignment1.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<script>
    function onSubmit(token) {
      document.getElementById("forgot-password-form").submit();
    }
</script>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="text-center mb-4">Forgot Password</h1>

            <form method="post" id="forgot-password-form">
                <div asp-validation-summary="All" class="text-danger"></div>

                @* Email *@
                <div class="mb-3">
                    <label class="form-label" asp-for="FModel.EmailAddress">Enter your email address</label>
                    <input class="form-control" asp-for="FModel.EmailAddress" type="email" />
                    <span class="text-danger" asp-validation-for="FModel.EmailAddress"></span>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary w-100"
                            data-callback='onSubmit'
                            data-action='submit'>
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>