@page
@model Assignment1.Pages.RegisterConfirmationModel
@{
}

<h2>Authentication email sent!</h2>
<p>
    An email has been sent to your email address. Please check your inbox and click the link to confirm your identity.
</p>