@page
@model Assignment1.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<script>
    function onSubmit(token) {
      document.getElementById("reset-password-form").submit();
    }
</script>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="text-center mb-4">Reset Password</h1>

            <form method="post" id="reset-password-form">
                <div asp-validation-summary="All" class="text-danger"></div>
                @* New password *@
                <div class="mb-3">
                    <label class="form-label" asp-for="RPModel.NewPassword">New Password</label>
                    <input class="form-control" asp-for="RPModel.NewPassword" type="Password" />
                    <span class="text-danger" asp-validation-for="RPModel.NewPassword"></span>
                </div>

                @* Confirm new password *@
                <div class="mb-3">
                    <label class="form-label" asp-for="RPModel.ConfirmPassword">Confirm New Password</label>
                    <input class="form-control" asp-for="RPModel.ConfirmPassword" type="Password" />
                    <span class="text-danger" asp-validation-for="RPModel.ConfirmPassword"></span>
                </div>

                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="UserId" />


                <div class="mb-3">
                    <button class="btn btn-primary w-100"
                            data-callback='onSubmit'
                            data-action='submit'>
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>